<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboottest.mapper.smt.LogMapper">

<insert id="writeLog" parameterType="com.example.springboottest.dto.logInfo">
    insert into mesinterface.log_gws_all(ip,params,timeconsume,username,requesttime,notes,requestproject)
    values (#{ip},#{params},#{timeconsume},#{username},to_date(#{requesttime},'yyyy-mm-dd hh24:mi:ss'),#{notes},#{requestproject})
</insert>
</mapper>