<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboottest.mapper.sqlserver.SqlServerMapper">

<resultMap id="CLR" type="com.example.springboottest.po.CLRData">
    <id column="LOT" property="lot"/>
    <id column="PANEL" property="panel" />
    <id column="PCS" property="pcs" />
    <id column="POSITION" property="position" />
    <id column="TYPE" property="type" />
    <id column="RESULT" property="result" />
    <id column="MACHINE" property="machine" />
    <id column="OPERATOR" property="operator" />
    <id column="PK1" property="pk1" />
    <id column="PK2" property="pk2" />
    <id column="BT1" property="bt1" />
    <id column="BT2" property="bt2" />
    <id column="CK1" property="ck1" />
    <id column="CK2" property="ck2" />
    <id column="BT21" property="bt21" />
    <id column="BT22" property="bt22" />
    <id column="BTF1" property="btf1" />
    <id column="BTF2" property="btf2" />
    <id column="OTS1" property="ots1" />
    <id column="OTS2" property="ots2" />
    <id column="OPTTIME" property="opttime" />
</resultMap>

    <select id="useQuery"  parameterType="map"  resultType="java.util.LinkedHashMap">
        <![CDATA[
            ${sql}
        ]]>
    </select>

    <select id="queryCLR_pcs" resultMap="CLR">
        select distinct s.* from
    (select LOT,PANEL,PCSID AS PCS,POSITION,[ET_Type] TYPE,(CASE result WHEN 1 THEN 'PASS' ELSE 'FAIL' END) RESULT,
    MACHINE,OPERATOR,[PK1(G)] AS PK1,[PK1(MM)]  AS PK2,[BT1(G)] AS BT1,[BT1(MM)] AS BT2,[CK(G)] AS CK1,[CK(%)] AS CK2,
    [BT2(G)] AS BT21,[BT2(MM)] AS BT22,[BTF] AS BTF1,[BTF(%)] AS BTF2,ots as OTS1,[ots(%)] as OTS2,
    OPTTIME from clr_RawData t
    LEFT JOIN ET_Panel_PCSID_Map TT ON TT.isnno=T.isnno COLLATE Chinese_PRC_CI_AS
    where TT.PCSID=#{barcode}

union all

   select LOT,PANEL,PCS,POSITION,[ET_Type] TYPE,(CASE result WHEN 1 THEN 'PASS' ELSE 'FAIL' END) RESULT,MACHINE,OPERATOR,[PK1(G)] AS PK1,
   [PK1(MM)]  AS PK2,[BT1(G)] AS BT1,[BT1(MM)] AS BT2,[CK(G)] AS CK1,[CK(%)] AS CK2,[BT2(G)] AS BT21,[BT2(MM)] AS BT22,[BTF] AS BTF1,
   [BTF(%)] AS BTF2,ots as OTS1,[ots(%)] as OTS2,OPTTIME
   from clr_RawData t with(nolock)
   where t.PCS = #{barcode}
union all
   select LOT,PANEL,PCS,POSITION,[ET_Type] TYPE,(CASE result WHEN 1 THEN 'PASS' ELSE 'FAIL' END) RESULT,MACHINE,
   OPERATOR,[PK1(G)] AS PK1,[PK1(MM)]  AS PK2,[BT1(G)] AS BT1,[BT1(MM)] AS BT2,[CK(G)] AS CK1,[CK(%)] AS CK2,[BT2(G)] AS BT21,
   [BT2(MM)] AS BT22,[BTF] AS BTF1,[BTF(%)] AS BTF2,ots as OTS1,[ots(%)] as OTS2,OPTTIME
   from clr_RawData t  with(nolock)
   where t.Panel =#{panelId} and t.Position = #{panelSeq}) s
    </select>

    <select id="queryCLR_panel" resultMap="CLR">
        select LOT,PANEL,PCS,POSITION,[ET_Type] TYPE,
        (CASE result WHEN 1 THEN 'PASS' ELSE 'FAIL' END) RESULT,
        MACHINE,
        OPERATOR,
        [PK1(G)] AS PK1,
        [PK1(MM)]  AS PK2,
        [BT1(G)] AS BT1,
        [BT1(MM)] AS BT2,
        [CK(G)] AS CK1,
        [CK(%)] AS CK2,
        [BT2(G)] AS BT21,[BT2(MM)] AS BT22,[BTF] AS BTF1,[BTF(%)] AS BTF2,
        ots as ots1,[ots(%)] as ots2,OPTTIME from clr_RawData t where t.PANEL=#{barcode}
    </select>

    <select id="queryET_1" resultType="java.util.LinkedHashMap">
        select * from(
        select isnno,Test_type testtype,ip_address stationname,a.status,convert(varchar(100),a.cdate,21) cdate,
        replace(filepath,'\\','@') filepath,'' detail from isn_record_qt a left join station b on a.stationid=b.stationid
        where isnid=(select isnid from view_isn where isnno=#{barcode})
        union
        select isnno COLLATE Chinese_PRC_CI_AS,Test_type testtype, stationname ,a.status COLLATE Chinese_PRC_CI_AS,
        convert(varchar(100),a.cdate,21) cdate,replace(filepath,'\\','@') filepath,'' detail from isn_record_qt_more a
        left join station b on a.stationid=b.stationid
        where isnid=(select isnid from view_isn where isnno=#{barcode})) t
        order by testtype,cdate,filepath
    </select>

    <select id="queryET_2" resultType="java.util.LinkedHashMap">
        select * from(select isnno,Test_type testtype,ip_address stationname,a.status,convert(varchar(100),a.cdate,21) cdate,
	    replace(filepath,'\\','@') filepath,'' detail from isn_record_qt a left join station b on a.stationid=b.stationid
         where isnid=(select isnid from view_isn where isnno=#{barcode})
           union
        select isnno,Test_type testtype,stationname,a.status,convert(varchar(100),a.cdate,21) cdate,
        replace(filepath,'\\','@') filepath,'' detail from isn_record_qt_MRB a left join station b on a.stationid=b.stationid
         where isnid=(select isnid from view_isn where isnno=#{barcode})
          union
        select isnno,Test_type testtype, stationname,a.status,convert(varchar(100),a.cdate,21) cdate,
        replace(filepath,'\\','@') filepath,'' detail from isn_record_qt_more a left join station b on a.stationid=b.stationid
         where isnid=(select isnid from view_isn where isnno=#{barcode})) t order by testtype,cdate,filepath
    </select>

    <select id="queryXRAY" resultType="java.util.LinkedHashMap">
        SELECT
            xd.panelid,
            xd.position,
            eppm.pcsid,
            testtype,
            xd.resourcename,
            convert(varchar(100), xd.cdate, 20) opttime,
            xd.operator operator,
            xd.testresult,
            xd.verifyresult,
            convert(varchar(100), xd.verfytime, 20) verifytime,
            xd.verifyoperator,
            '' as imagepath
        from XRayMaster xd
        left join ET_Panel_PCSID_Map eppm on eppm.PanelID=xd.PANELID AND XD.Position = EPPM.PCSSEQ and xd.testMode='PANEL'
        where eppm.PCSID=#{barcode}
        <if test="panelId != null and panelId != '' and panelSeq!= '' and panelSeq != null">
            union
            select xd.PanelId,xd.Position,#{barcode} as PcsId,TestType,xd.ResourceName,
            CONVERT(varchar(100),xd.CDATE, 20) OptTime,xd.Operator Operator,xd.TestResult,xd.VerifyResult,
            CONVERT(varchar(100),xd.verfytime, 20) VerifyTime,xd.VerifyOperator,'' as ImagePath
            from XRayMaster xd with(nolock)
            where xd.testMode='PANEL' and xd.PanelId = #{panelId} and xd.Position = #{panelSeq}
        </if>
        <if test="parentPanelId != null and parentPanelId != '' and parentPanelId!= '' and parentPanelId != null
         and panelId!= parentPanelId">
            union
            select xd.PanelId,xd.Position,#{barcode} as PcsId,
            TestType,xd.ResourceName,CONVERT(varchar(100),xd.CDATE, 20) OptTime,
            xd.Operator,xd.TestResult,xd.VerifyResult,CONVERT(varchar(100),xd.verfytime, 20) VerifyTime,xd.VerifyOperator,'' as ImagePath
            from XRayMaster xd with(nolock)
            where xd.testMode='PANEL' and xd.PanelId = #{parentPanelId} and xd.Position = #{parentPanelSeq}
        </if>
        union
        select xd.PanelId,xd.Position,xd.PANELID+CAST(xd.Position as varchar) as PcsId,
        TestType,xd.ResourceName,CONVERT(varchar(100),xd.CDATE, 20) OptTime,xd.Operator,xd.TestResult,
        xd.VerifyResult,CONVERT(varchar(100),xd.verfytime, 20) VerifyTime,xd.VerifyOperator,'' as ImagePath
        from XRayMaster xd
        where xd.Panelid=#{barcode} and xd.testMode='PANEL'
        union
        select  ISNULL( eppm. PanelID,xd.PANELID) as PanelId,xd.Position,xd.barcode as PcsId,
        TestType,xd.ResourceName,CONVERT(varchar(100),xd.CDATE, 20) OptTime,xd.Operator,xd.TestResult,xd.VerifyResult,
        CONVERT(varchar(100),xd.verfytime, 20) VerifyTime,xd.VerifyOperator,'' as ImagePath
        from XRayMaster xd left join ET_Panel_PCSID_Map eppm on eppm.PCSID=xd.barcode
        where xd.barcode=#{barcode} and xd.testMode='PCS'
    </select>

</mapper>